/* Trigger Icons */

.ondate-trigger, .equal-trigger, .textequal-trigger {
  background: url("images/equal.png") 0 0 no-repeat!important;
}

.greater-equal-trigger, .after-trigger {
  background: url("images/greater_than.png") 0 0 no-repeat!important;
}
.lesser-equal-trigger, .before-trigger {
  background: url("images/lesser_than.png") 0 0 no-repeat!important;
}
.between-trigger {
  background: url("images/between.png") 0 0 no-repeat!important;
}

.contains-trigger {
  background: url("images/contains.png") 0 0 no-repeat!important;
}
.ends-with-trigger {
  background: url("images/ends_with.png") 0 0 no-repeat!important;
}
.starts-with-trigger {
  background: url("images/starts_with.png") 0 0 no-repeat!important;
}

/* Filter CSS */

.fieldFilterCls label {
  display: none!important;
  width:0px!important;
}

.nowrap{
    white-space: nowrap;
}  

.filters-toolbar-expand {
  background: url("images/expand_16_by_12.png");
}
.filters-toolbar-collapse {
  background: url("images/collapse_16_by_12.png");
}
.filters-toolbar-apply-filter {
  background: url("images/apply_filter_16_by_16.png");
}
.filters-toolbar-clear-filter {
  background: url("images/clear_filter_16_by_16.png");
}
